.comments {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}


.comments-box{
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-bottom: solid 1px grey ;
  width: 90%;
  margin: 0 auto;
}


.profile {
  border-radius: 5px;
  height: 30px;
  margin-right: 10px;
}

.author1 {
  display: flex;
  align-items: center;
}

.article-content1{
  width: 80%;
}
