.comments-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
  background-color: rgb(254, 254, 254);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: default;
}


