.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.navbar-text {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #87bba2;
  align-items: center;
  display: flex;
}

.username {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: grey;
  align-items: flex-end;
  display: flex;
  margin-right: 50px;
}

.logo {
  height: 30px;
}

.profile {
  border-radius: 5px;
  height: 30px;
  margin-right: 10px;
}

.active {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00a67e;
}

.navbar-input {
  display: none;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #87bba2;
  border-color: #87bba2;
  outline: none;
  background-image: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
}

.message {
  margin-right: 20px;
}

@media only screen and (min-width: 600px) {
  .navbar-input {
    height: 40px;
    width: 50%;
    border-radius: 1.25em;
    border: 1px solid #bbb;
    background: transparent
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat center;
    background-size: 1.5em;
    background-position: 1em;
    padding: 0 1.5em;
    text-align: left;
    display: block;
  }
}
